name: Publish (Release)

on:
  release:
    types:
      - published

permissions:
  contents: read
  packages: write

jobs:
  image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: [latest, alpine, 3.1, 3.1-alpine, 3.1.7, 3.1.7-alpine]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: false
      - name: Checkout
        uses: actions/checkout@v5
      - name: Modify Dockerfile
        run: |
          sed -i -e "s|%VERSION%|${{ matrix.tag }}|g" Dockerfile
      - name: Build and push
        id: docker_build_master
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/snorwin/haproxy:${{ matrix.tag }}
          platforms: linux/amd64
          build-args: |
            VERSION=${{ github.event.release.tag_name }}
            HASH=${{ github.sha }}
